.filter-toggle {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
    text-align: right;
    background-color: white;
    color: #4b5563;  /* Zinc-500 */
    cursor: pointer;
  }
  
  .filter-toggle-icon {
    object-fit: contain;
    width: 1rem;  /* w-4 */
    height: 1rem;  /* aspect-square */
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .filter-toggle-text {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: currentColor;
    text-underline-offset: auto;
  }
  